{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field, render_radio_fields %}
{% block content %}
<div class="container d-flex mt-5">
    <div class="col-sm-12 text-center">
        <h3>Add new product</h2>
            <div class="container mt-3">
                    <form class="form-container" method = "POST" action = "/addproduct">
                        {{ form.csrf_token }}
                        {{ render_field(form.name, placeholder=form.name.label.text) }}
                        {{ render_field(form.price, placeholder=form.price.label.text) }}
                        {{ render_field(form.stock, placeholder=form.stock.label.text) }}
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
    </div>
</div>
{% endblock %}