{% extends 'base.html' %}
 {% from '_formhelpers.html' import render_field, render_radio_fields %}
 {% block content %}
   <div class="container mt-5">
    <form class="form-container" method = "POST" action = "/login">
        {{ form.csrf_token }}
        {{ render_field(form.username, placeholder=form.username.label.text) }}
        {{ render_field(form.password, placeholder=form.password.label.text) }}
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <p class="text-center">No account? <a href="/signup">Signup</a></p>
</div>
    
 {% endblock %}