<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">


<title>PDF email to buyer</title>
</head>
<body>
    <h1>Order No:{{order.id}}</h1>
    <div class="container">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in session.items() %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.color }}</td>
                    <td>{{ product.price }}</td>
                    {% set subtotal = product.quantity|int * product.price|float %}
                    <td>{{product.quantity}}</td>
                    <td>{{subtotal}}</td>
                </tr>
                {% endfor %}
                
                
            </tbody>   
        </table>
        <p>Total order price: {{order.subtotal}} </p>
        </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>