<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">


<title>PDF email to seller</title>
</head>
<body>
    <h1>Your today's orders</h1>
    
    <div class="container">
        <table class="table table-sm">
            <thead>
                <th>Order ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                <h1>
                   Should be here {{seller.username}} , {{seller.email}}
                </h1>
                {% for product in products %}
                <tr>
                    <td>{{ product.order.id }}</td>
                    <td>{{ product.seller_product.product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.total}}</td>
                </tr>
                {% endfor %}
            </tbody>   
        </table>
        </div>
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>